.note-widget {
  margin-bottom: 30px;
  padding: 4px;
}

.note-title {
  margin-top: 0;
  margin-bottom: 6px;
  word-wrap: break-word;
}

.note-status {
  .note-status-rating {
    font-size: 20px;
    color: orange;
    margin-right: 10px;
  }
  .note-status-created {
    margin-right: 10px;
  }
  .note-status-modified {
    margin-right: 10px;
  }
  .note-status-show {
    margin-right: 10px;
  }
  .note-status-edit {
    margin-right: 10px;
  }
}

.note-tags {
  span {
    display: inline-block;
    padding: 4px 6px 4px 6px;
    margin: 5px 10px 5px 0;
    border-radius: 4px;
    color: #444;
    background-color: #f7f7f7;
    &:hover {
      background-color: #eaeaea;
    }
  }
}

.note-attrs {
  padding: 3px;
}

.note-text {
  max-height: 200px;
  overflow: hidden;
}

.note-files {
  width: 100%;
  thead {
    font-weight: bold;
    td:nth-child(1) {
      width: 70%;
    }
    td:nth-child(2) {
      width: 20%;
    }
    td:nth-child(3) {
      width: 10%;
      text-align: right;
    }
  }
  tbody {
    td:nth-child(3) {
      text-align: right;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}
