body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #4387fd;
  text-decoration: none;
}

.content-center {
  width: 1200px;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .content-center {
    width: 100%;
    padding: 10px;
  }
}
